/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */


/*This code is for the homepage animation at the start of the page*/
.topline{
overflow: hidden;
border-right: .15em solid #BF0918;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .1em;
/*This animation code sets the time for which the animation does its tpying once refreshed*/
animation:
  typing 3.5s steps(40, end),
  link-caret .75s step-end infinite;
}
/*This sets the begining of where the text starts to type till the end*/
@keyframes typing {
  from { width: 0% }
  to { width: 40% }
}
/*HomepageMessage styling code for index page*/
.MainMessage{
  grid-area: MainMessage;
  border-radius: 50px;
  height: 50%;
  padding: 5%;
  background-color: #e6f7ff;
  text-align: center;
}
/*Style for the text written inside the main message box*/
.mainwelcome p {
  font-size: 20px;
  letter-spacing: .1em;}
/*Styling button code for the Hamburger menu, setting the colour and aligning the content in the middle*/
#menuButton {
  color: gray;
  align-items: center;
}
/*Hides the link tabs*/
#myNav {
  display: none;
}
/*Shows the items once the menu button is clicked*/
#myNav.show {
  display: block;
}
/*Setting the height and colour of the footer*/
footer{
  background-color:black;

}
footer a {
  color: #e6f7ff;
}
/*Styling the footer img logo width and height*/
#footimg{
  width: 12%;
  height:30%;
}
/* This code focuses the formatting of the information box found in the movies page */
.info2 {
  border-radius: 5px;
  background-color: #32a893;
  padding: 20px;
  width: 80%;
  height: 150px;
  margin-top: 10px;
  text-align: center;
  color: white;
  margin-left: 50px;
}
/*setting the size and color of text on the movies page*/
h4{
  font-size: 30px;
  color: White;
}

/*CONTACT US PAGE */

.ContactUsMain{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "info" "form";
}
/*Fomratting the style of the information box on the "Contact Us Page"*/
.information{
  grid-area: info;
  border-radius: 50px;
  padding: 3%;
  background-color: #f2f2f2;
  text-align: center;}
  /* setting the styling for the form box in the contact details page*/
  .contactform {
    grid-area: form;
    border-radius: 50px;
    margin: 0% 10% 10% 50%;
    background-color: #f2f2f2;
    padding-top: 3%
    ;
  }
  /*Contact details form box, setting the necessary styling of the input text*/
  input[type=text], input[type=email], input[type=submit], textarea {
  text-align: center;
    width: 90%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 2% 5%;
  }

  label{
  padding-left: 8%;}

textarea{
  height: 150px;}
  /*Contact details form box, setting the necessary styling of the submit box*/
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: solid 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  /*Contact details form box, changing colour of backgroud once hovered over of the submit box*/
  input[type=submit]:hover {
    background-color: #45a049;
  }

/*Style for the search box in the "movies.html" page*/
#MovieApi{
  color: White;
  margin-left: 70%;
  background-color: #45a049;
  width: 15%;
}
/*This line of code sets the animation on the TVNews page, providing the Positioning,size, font etc*/
#animation {
  position: relative;
  color: red;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  /*The colour of the animation that goes across the text, the time it takes for the animation to do one rotation*/
  background: linear-gradient(90deg, #000, #fff, #000);
  /*Setting it on repeat*/
  background-repeat: no-repeat;
  background-size: 30%;
  animation: animate 6s linear infinite;
}
/*These lines of code, moves the colour strip from left to right, without it, the colour strip passing through would not move*/
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.name{
  width: 30%
  height  20%;
}

/* TABLET STYLES */
/* TABLET STYLES */
@media screen and (min-width: 500px) {
    /* applies to screens wider than 499px */
  /* Content */
  /*The colour of the grid in the TVNews page changes to white and displays the content in a grid like format, when in tablet*/
  .content {
    color: white;
    display: grid;
  }
  /*Applying the colour of the backgroud when in tablet mode*/
  body {
      background: #800000;
  }
  /* Giving the font-size of the logo displayed on each of the pages in tablet mode */
  label.logo{
    font-size: 30px;
  }
  /*Assigning the font-size of the content inside the nav bar in tablet mode*/
  nav ul li a{
    font-size: 16px;
  }
  /*Colour of the nav bar tab changes once mouse is hovered hover*/
  a:hover, a.active{
    background: none ;
    color: #0082e6;
  }
  /*Checkbox, which is for the clicking of the nav bar, in order for it to work*/
  #check:checked ~ ul{
    left: 0;
  }
  /*Assigning the fomrat style of the nav bar in tablet mode*/
  nav {
  display: block;
  justify-content: center;
  justify-content: space-around;
  background-color: black;
  font-size: 30px;
  padding: 1em;
  }
  /*Contact US page form*/
  .contactform{
  grid-area: form;
  margin: 2% 10% 0% 9%;}

  /*Code for the slideshow*/
  /*This code formats the size of the slideshow to fit the tablet format, it also assigns the font style*/
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;
    width: 100%;}
    /*Image ID for the slideshow Gallery, setting the same width for all the images in the slideshow*/
    #ss{
      width: 100%;
    }
    /* Fading animation  for the slideshow gallery on the homepage*/
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    /*END OF SLIDESHOW GALLERY CODE (INDEX.HTML)*/
    /*This code is for the formatitng of the nav tabs in tblet form, adding and changing colour when hovered*/
    nav ul li a {
      color: #e6f7ff;
      font-size: 17px;
      padding: 7px 13px;
      text-transform: uppercase;
      text-decoration: none;
      align-items: center;
}
footer a {
  text-decoration: none;
}
}

/* DESKTOP STYLES */
@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
/*This code is for the menu hamburger button on all the pages, it hides the button*/
  #menuButton {
    display:none;
  }
  /*displays the nav bar and its items*/
  #myNav {
    display: block;
  }
/*Setting the bakcground colour and font style in the desktop version*/
  body {
    background: #800000;
    font-family: montserrat;
  }
/*Formatting the style of the nav bar*/
nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: black;
  font-size: 30px;
  padding: 1em;
}
/*Fomratting the logo at the top of the pages*/
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  color: #800000;
}
/*Formatting the nav tabs in a horizontal way */
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
/*fills tab with colour, showng what is being selected*/
a.active,a:hover{
  background: #e6ffff;
  transition: .5s;
}
/*  This code is resposible keeping the movies in horizontal format */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-align: center;
}
/*Keeps the spacing between the TV shows in the TV news page*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/*Styling for the table in the TVNews page */
/*padding BETWEEN each column */
.row,
.row > .column {
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Contact US Page*/

.ContactUsMain{
display: grid;
grid-template-columns: 50%;
grid-template-rows: 100%;
grid-template-areas:
"info form";}

/*Fomratting the style of the information box on the "Contact Us Page"*/
.information{
grid-area: info;
margin: 2% 1% 2% 5%;}
/*Fomratting the style of the contactform on the "Contact Us Page"*/
.contactform{
grid-area: form;
margin: 2% 5% 2% 1%;}
/*Code for slideshow on homepageS*/
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;
  margin: 2% 5% 2% 1%;

}
/*Image ID for the slideshow Gallery, setting the same width for all the images in the slideshow*/
#ss{
      width: 50%;
    }
/*
  Footer Section, code for the positioning, style, Dimensions and color
*/
footer{
}
div.resimg {
    border: 1px solid #ccc;
}

div.resimg:hover {
    border: 1px solid #777;
}

div.resimg img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
}
